<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todolist功能开发</title>
    <script src="../../vue.js"></script>
</head>
<body>
<div id="demo">
    <input type="text" v-model="ipt">
    <button @click="addList">Submit</button>
    <ul>
       <li v-for="(item,index) in list" :key="index">{{item}}</li>
    </ul>
</div>
<script>
    new Vue({
        el:'#demo',
        data:{
            ipt:'',
            list:[],
        },
        methods:{
            addList:function () {
                this.list.push(this.ipt);
                this.ipt='';
            }
        }

    })
</script>

</body>

</html>