<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>计算属性与监听器</title>
    <script src="../../vue.js"></script>
</head>
<body>
<div id="demo">
<!--    姓：<input type="text" v-model="firstName">
    名：<input type="text" v-model="lastName">
    &lt;!&ndash;<div>{{firstName}}   {{lastName}}</div>&ndash;&gt;
    <div>{{fullName}}</div>
    <div>{{count}}</div>-->
    姓：<input type="text" v-model="firstName">
    名：<input type="text" v-model="secondName">
    <div>{{fullName}}</div>
    <div>{{count}}</div>
</div>
<script type="text/javascript">
    new Vue({
        el:'#demo',
        data:{
            firstName:'liu',
            secondName:'kang',
            count:0
        },
        computed:{
            fullName:function(){
                return this.firstName+' '+this.secondName;
            }
        },
        watch:{  //监听器 一旦每个参数发生变化 就会触发
            firstName:function () {
                return this.count++;
            },
            secondName:function () {
                return this.count++;
            }
        }
    })

</script>
</body>
</html>
