<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todolist功能开发</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="root">
    <input v-model="inputValue">
    <button @click="Submit">提交</button>

<ul>
    <li v-for="(item,index) of list" :key="index">
        {{item}}
    </li>
</ul>
</div>
</body>
<script>
    new Vue({
        el:'#root',
        data:{
            inputValue:'',
            list:[],
        },
        methods:{
            Submit:function () {
                this.list.push(this.inputValue);
                this.inputValue='';
            }
        }

    })
</script>
</html>